<div class="container-log vh-100 ">
  <div class="wrapper-log card shadow-lg mb-0 mx-3">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class:"simple-form simple-form-registrer") do |f| %>
      <h1 class="py-3">Edit <%= resource_name.to_s.humanize %></h1>
      <%= f.error_notification %>
      <div class="pass-icon w-100 px-4">
        <%= f.input_field :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, id:"email", placeholder:"Email", class:"w-100" %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input_field :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { autocomplete: "current-password" }, class:"password", placeholder:"Current Password" %>
        <%= f.input_field :password, hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: "new-password" }, id:"password", placeholder:"New Password", class:"w-100" %>
        <%= f.input_field :password_confirmation, required: false, input_html: { autocomplete: "new-password" }, id:"password", class:"password", placeholder:"Confirm New Password" %>
        <%= f.button :submit, "Save changes", id:"login-btn", class:"text-center w-100" %>
        <%= link_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, id:"login-btn", class:"btn text-center w-100" %>
        <div class="register">
          <%= link_to "Back", root_path, class:"register-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
