<div class="container-log vh-100">
  <div class="wrapper-log card shadow-lg py-2">
    <div class=""><h1 class="pt-2 text-center">Edite Profile</h1></div>
    <%= simple_form_for(@company, html: { class: "simple-form simple-form-registrer"}) do |f| %>
      <%= f.error_notification %>
      <div class="pass-icon w-100 px-4">
        <%= f.input :name, placeholder: "what's the name of the company?", id:"email", input_html: { class: "w-100"}   %>
        <%= f.input :description, placeholder: "tell us about your company", id:"email", input_html: { class: "w-100 text-area-profile"}   %>
        <%= f.input :photo, as: :file, placeholder: "add the logo of your company", id:"email", input_html: { class: "w-100"}  %>
        <%= f.button :submit, "Save changes", id:"Sign-up-btn", class: "text-center w-100" %>
        <div class="register">
          <%= link_to 'Back', company_path(current_user.company), class:"register-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
